@import "tailwindcss";

body {
  background-color: #050505;
  color: #ffffff;
}

@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
